* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  line-height: 1.75rem;
  font-family: "Open Sans", sans-serif;
  gap: 0.5rem;
}

.container {
  display: flex;
  /* align-items: flex-start; */
}

.icon {
  width: 2rem;
  height: 2rem;
}

.heading {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  color: rgb(134, 156, 209);
}

.left {
  width: 75%;
  height: auto;
  margin: 1rem;
  padding-top: 2rem;
}

.career {
  margin-bottom: 4rem;
}

.job {
  margin-bottom: 1rem;
}

.right {
  flex: 1;
  margin: 1rem;
  background-color: rgb(165, 179, 215);
}

.name-card {
  background-color: rgb(134, 156, 209);
}

#main-pic {
  width: 100%;
}

.right .name-card p {
  color: white;
  padding-bottom: 1rem;
  margin-left: 0.7rem;
}

.contact-card {
  color: white;
}

ul {
  margin: 1rem 1.3rem;
}

li {
  list-style: none;
}

a:link {
  color: white;
}

.fa-solid,
.fa-regular,
.fa-brands {
  margin: 0.3rem;
  padding-right: 0.3rem;
}

.details {
  display: flex;
  justify-content: space-between;
}

.time,
.location {
  color: gray;
}
